/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
#header {
}
#menubar {
	text-align:right;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd;
	
}

#menubar a {
	text-decoration: none;
	font-weight: bold;
}

#menubar ul {
	margin-bottom: 0px
}

#menubar ul li {
	display:inline;
	padding-left: 15px;
	font-size: smaller;
	text-decoration: none;
}

#wikitext {
	align:justify;
}

#header {
	border-bottom: 1px solid #ddd
}

#maincontent {
text-align:justify;
}